@model DateTime

@{
    var days = new List<SelectListItem>();
    var months = new List<SelectListItem>();

    for (int i = 1; i <= 31; i++)
    {
        if (i <= 12)
        {
            months.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
        }

        days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }

    var startYear = ViewBag.StartYear;
    var endYear = ViewBag.EndYear;

    if (startYear == null)
    {
        startYear = 1950;
    }

    if (endYear == null)
    {
        endYear = 2099;
    }

    var years = new List<SelectListItem>();
    for (int i = startYear; i <= endYear; i++)
    {
        years.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}

<div>
    @Html.DropDownList("Day", days, new { @class = "form-control" })
</div>

<div>
    @Html.DropDownList("Month", months)
</div>

<div>
    @Html.DropDownList("Year", years)
</div>