@model PTC.Web.ViewModels.PersonViewModel


<h1>Current user</h1>
<div>
    @Html.DisplayFor(m => m.Name)
</div>

<div>
    @Html.DisplayFor(m => m.Age)
</div>

<div>
    @Html.DisplayFor(m => m.RegisterOn, new { StartYear = 2000, EndYear = 2010 })
</div>
