@{
    ViewBag.Title = "Test";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multifile/form-data" }))
{

    <input type="file" name="peshoFile"  />
    <input type="submit" />
}




